<section id="contact" class="main">
    
<div class="container">
    <form [formGroup]="contactForm" (ngSubmit)="submit()" role = "form" class = "form form-vertical col-lg-6 col-md-6 col-sm-8 border border-dark rounded p-4  mx-auto ">
  
        <h2 class = "text-center p-3">Contact Us</h2>
      
        <div class = "form-group mb-3 p-1">
            <label for="name">Name:</label>
            <input 
                type="text" 
                id="name" 
                formControlName="name" 
                class = "form-control"
                placeholder="Enter your name here"
                >
    
            <div *ngIf="contactForm.controls?.['name']?.errors && contactForm.controls?.['name']?.touched" class="text-danger">
              <ng-container *ngIf="contactForm.controls?.['name']?.errors?.['required']">
                Name Field is required
              </ng-container>
              <ng-container *ngIf="contactForm.controls?.['name']?.errors?.['pattern']; else checklength">
                Please enter a valid name
              </ng-container>
              <ng-template #checklength>
                <ng-container *ngIf="contactForm.controls?.['name']?.errors?.['maxlength']">
                    Maximum length exceeded. 
                </ng-container>  
              </ng-template>
              
            </div>
          </div>
    
    
          <div class = "form-group mb-3 p-1">
            <label for="contactNo">Contact Number:</label>

            <input 
                type="text" 
                id="contactNo" 
                formControlName="contactNo" 
                class = "form-control"
                placeholder="Enter 10 digits contact number"
                >
    
            <div *ngIf="contactForm.controls?.['contactNo']?.errors && contactForm.controls?.['contactNo']?.touched" class="text-danger">
              <ng-container *ngIf="contactForm.controls?.['contactNo']?.errors?.['required']">
                Contact Number Field is required
              </ng-container>
              <ng-container *ngIf="contactForm.controls?.['contactNo']?.errors?.['pattern']">
                Please enter a valid contactNo
              </ng-container>              
            </div>
          </div>
    
    
        

    
      

      <div class = "form-group mb-3 p-1">
        <label for="email">Email Id:</label>
        <input 
            type="text" 
            id="email" 
            formControlName="email" 
            class = "form-control"
            placeholder="Enter your email here"
            >

        <div *ngIf="contactForm.controls?.['email']?.errors && (contactForm.controls?.['email']?.touched || contactForm.controls?.['email']?.errors?.['incvalid'])" class="text-danger">
          <ng-container *ngIf="contactForm.controls?.['email']?.errors?.['required']">
            Email Field is required
          </ng-container>
          <ng-container *ngIf="contactForm.controls?.['email']?.errors?.['pattern']">
            Please enter a valid Email
          </ng-container>
         
          
        </div>
      </div>


      <div class = "form-group mb-3 p-1">
        <label for="subject">Subject:</label>
        <input 
            type="text" 
            id="subject" 
            formControlName="subject" 
            class = "form-control"
            placeholder="Enter your concern"
            >

        <div *ngIf="contactForm.controls?.['subject']?.errors && contactForm.controls?.['subject']?.touched" class="text-danger">
          <ng-container *ngIf="contactForm.controls?.['subject']?.errors?.['required']">
            Subject Field is required
          </ng-container>          
        </div>
      </div>


      <div class = "form-group mb-3 p-1">
        <label for="description">Description:</label>
        <textarea 
            type="text" 
            id="description" 
            formControlName="description" 
            class = "form-control"
            placeholder="Enter Details (Minimum 40 characters)"
            rows="3"
            >
            </textarea>

        <div *ngIf="contactForm.controls?.['description']?.errors && contactForm.controls?.['description']?.touched" class="text-danger">
          <ng-container *ngIf="contactForm.controls?.['description']?.errors?.['required']">
            description Field is required
          </ng-container>
          <ng-container *ngIf="contactForm.controls?.['description']?.errors?.['minlength']">
            Please enter atleast 40 characters
          </ng-container>
          
        </div>
      </div>



    
      
      <button type="submit" class = "btn btn-primary px-4 my-3" [disabled]="!contactForm.valid">Submit</button>
    </form>
    
</div>
</section>