<footer>
    <div class="main">
        <div class="left">
            <h3>Links</h3>
            <ul>
                <li><a routerLink="about">About</a></li>
                <li><a routerLink="../about/#about">Trip categories</a></li>
                <li><a routerLink="../about/#about">Testimonial</a></li>
                <li><a routerLink="../about/#about">Blogs</a></li>
                <li><a routerLink="contact">Contact Us</a></li>
                <li><a routerLink="feedback" class = "text-danger">Give Us Feedback</a></li>
                
            </ul>
        </div>

        <div class="center">
            <form action="#">
                <input type="text" name="" id="" placeholder="Type here...">
                <button>Search</button>
            </form>
        </div>

        <div class="right">
            <address>
                <h5>Mukesh PG, Mohali</h5>
                <p>Punjab, India</p>
                <p>160002</p>
                <a routerLink="admin">Go to admin panel</a>
            </address>
        </div>
    </div>
</footer>