.main{
    width:170px;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.693);
    color: white;
    text-align: center;
    padding: 8px ;
    transition: all .3s;
    opacity: .7;

    p{
        padding: 3px;
        margin: 0px;

        &:first-child{
            font-weight: bold;
        }
        &:last-child{
            color: rgb(193, 255, 247);
            font-style: italic;
        }
    }

    &:hover{
        background-color: rgba(0, 0, 0, 0.805);
        opacity: 1;
    }
}

@media screen and (max-width:450px) {
    .main{
        display: none;
    }
    
}