<header>
    <div class="main">

        <div>
            <mat-icon (click) = 'toggleSidebar();' class = "list-mat-icon" id = "toogleSidebar1">list</mat-icon>

            <img src="../../../assets/img/brandlogo1.png" routerLink="/" alt="" class="logo">
        </div>

        <div>
            <nav id = "navbar1">
                <ul>
                    <li>
                        <a routerLink="home">Home</a>
                    </li>
    
                    <li>
                        <a routerLink="about">About</a>
                    </li>
    
                    <li (click)="toogleDD()">
                        <a  id = "toogleSidebar2">Packages ▼</a>
                            <ul class = "custDD" id = "custDD1">
                                <li><a routerLink="package/trending">Trending Packages</a></li>
                                <li><a routerLink="package/international">International Packages</a></li>
                                <li><a routerLink="package/domestic">Domestic Packages</a></li>
                            </ul>
    
                    </li>
    
                    <li>
                        <a routerLink="contact">Contact Us</a>
                    </li>

    
                    <ng-container *ngIf="!activeCred.user else second">
                        <li>
                            <a routerLink="login">Login</a>
                        </li>
                    </ng-container>
                    <ng-template #second>
                        <div class="dropdown-parent" *ngIf="activeCred?.user">
                            <div (click)="toogleUser()" class = "dropdown-key">
                              <img
                                [src]="activeCred.user.imageUrl?'data:image/jpeg;base64,'+activeCred.admin.imageUrl:'../../../../assets/img/icons/noProfileImage.jpg'"
                                alt="mdo" width="42" height="42" class="rounded-circle">
                              <p class=" m-0 admin-name"> {{activeCred.user.name}} </p>
                            </div>
                            <ul class="dropdown" id = "dropdownAdmin">
                              <li><a class="dropdown-item" routerLink='/admin'>Settings</a></li>
                              <li><a class="dropdown-item" routerLink='/admin'>Profile</a></li>
                              <hr>
                              <li><a class="dropdown-item" (click)="signOut()">Sign out</a></li>
                            </ul>
                          </div>
                    </ng-template>
    
                    
                </ul>
            </nav>
    
            <a routerLink="cart" class = "cart">
                <mat-icon class = "cart-mat-icon">shopping_cart</mat-icon>
                <span>{{itemCount}}</span>
            </a>

            
        </div>
    </div>
</header>
