<header class="p-3 bg-dark text-white">
  <div class="container1">
    <div class="flexbox">
      <a routerLink='/' class="d-flex align-items-center mb-2 mb-lg-0 logoCont">
        <img src="assets/img/brandLogo.png" alt="logo" class="logo">
      </a>

      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a routerLink='/admin' class="nav-link ">
            <mat-icon>account_box</mat-icon>
            Home
          </a>
        </li>
        <li>
          <a routerLink='/admin/dashboard' class="nav-link  ">
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </a>
        </li>
        <li>
          <a routerLink='/admin/orders' class="nav-link ">
            <mat-icon>shopping_basket</mat-icon>
            Orders
          </a>
        </li>
        <li>
          <a routerLink='/admin/products' class="nav-link ">
            <mat-icon>view_module</mat-icon>
            Products
          </a>
        </li>
        <li>
          <a routerLink='/admin/customers' class="nav-link ">
            <mat-icon>group</mat-icon>
            Customers
          </a>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end" *ngIf="!activeCred?.admin">
        <button type="button" routerLink="/admin/login" class="btn btn-outline-light me-2">Login</button>
      </div>

      <div class="dropdown-parent" *ngIf="activeCred?.admin">
        <div (click)="toogleDD()" class = "dropdown-key">
          <img
            [src]="activeCred.admin?.imageUrl?'data:image/jpeg;base64,'+activeCred.admin?.imageUrl:'../../../assets/img/icons/noProfileImage.jpg'"
            alt="mdo" width="42" height="42" class="rounded-circle">
          <p class="text-light m-0 admin-name"> {{activeCred.admin?.name}} </p>
        </div>
        <ul class="dropdown" id = "dropdownAdmin">
          <li><a class="dropdown-item" routerLink='/admin'>Settings</a></li>
          <li><a class="dropdown-item" routerLink='/admin'>Profile</a></li>
          <hr>
          <li><a class="dropdown-item" (click)="signOut()">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>