<section id="login" class="main">

  <br><br><br>
   <form (ngSubmit)="submit()" [formGroup]="loginForm">
    <h4 class="text-center text-warning">Admin Login</h4>

    <p class="text-center text-danger" *ngIf="invalid">{{invalidReason}}</p>
    <div class="fg fg1">
      <label for="uname">Username <sup>*</sup></label>
      <input 
      type="text" 
      formControlName = "uname"
      placeholder="Enter Your user name"
      >
      <div class="warn" *ngIf="loginForm.controls?.['uname']?.errors  && loginForm.controls?.['uname']?.touched">
        Enter a valid user name
      </div>
    </div>
    
    
    <div class="fg fg2">
      <label for="password">Password <sup>*</sup></label>
      <input 
      type="password" 
      formControlName = "password"
      placeholder="Enter Your user name"
      >
      <div class="warn" *ngIf="loginForm.controls?.['password']?.errors  && loginForm.controls?.['password']?.touched">
        Enter a valid user name
      </div>
    </div>
    
    <div class="fg fg3">
        <span class ></span>
        <button type="submit"  [disabled]="!loginForm.valid">Submit</button>

      </div>
   </form>

   <br><br><br>
      
</section>