.main{
    background-image:url(../../../../assets/img/lightred.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
    margin: 0px;

    form{
        background-color: rgba(255, 255, 255, 0.741);

        .text-danger{
            height: 0px;
            font-size: 14px;
        }
        
    }
}