<section id="cart" class="main">

    <div class="custContainer" *ngIf="object">
        <div>
            <div class="object">
                <div class="div1">
                    <img src="../../../assets/img/attractions/{{object.image_url}}" alt="">
                    <div>
                        <h3 class="text-warning py-2"> {{object.name}} </h3>
                        <h6 class="text-danger float-left"> Basic-package : ₹{{object.expenses}}</h6>
                        <span class="text-muted">Country : </span> <span> {{object.country}} </span>

                        <p class="heritage" [ngClass]="!object.heritage?'cross':''">UNESCO World Heritage Sites</p>

                        <span>In basic package you will get :- </span>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">A Tourist Guide</li>
                            <li class="list-group-item">Hotal booking for stay</li>
                            <li class="list-group-item">Some group activities</li>
                        </ul>

                    </div>


                    <div class="absolute temperature" *ngIf="weatherInfo">
                        Temperature: <strong>{{(weatherInfo?.current_observation?.condition?.temperature | farenheitToCel)}} <sup>0</sup>C</strong>
                    </div>
                    <div class="absolute condition">
                        <weatherIcon [name]="weatherInfo?.current_observation?.condition?.text" ></weatherIcon>
                        <strong>{{weatherInfo?.current_observation?.condition?.text}}</strong>
                    </div>

                </div>

                <div class="div2">
                    <p> {{object.description}} </p>
                </div>
            </div>


            <div class='form'>
                <h3 class="text-center">Edit your package</h3>

                <div class="flexbox">
                    <form  (change)="update()"  #myTourForm="ngForm"  (ngSubmit)="submit(myTourForm)" role="form" class="form form-vertical">
                        <div class="form-group">
                            <input type="checkbox" name="" id="addfood"> <span class="inp">Add Food</span><span
                                class="text-muted">{{3000  | currency:'INR'}}</span>
                        </div>

                        <div class="form-group">
                            <input type="checkbox" name="" id="explorearea"> <span class="inp">Explore nearby
                                location</span><span class="text-muted">{{7300  | currency:'INR'}}</span>
                        </div>

                        <div class="form-group">
                            <select name="" id="maletourist">
                                <ng-container *ngFor="let i of [1,2,3,4,5,0]">
                                    <option value="{{i}}">{{i}}</option>
                                </ng-container>
                            </select>
                            <span class="inp">Number Of male tourist</span>

                        </div>

                        <div class="form-group">
                            <select name="" id="femaletourist">
                                <ng-container *ngFor="let i of [0,1,2,3,4,5]">
                                    <option value="{{i}}">{{i}}</option>
                                </ng-container>
                            </select>
                            <span class="inp">Number Of Female tourist</span>
                        </div>

                        <div class="form-group">
                            <input type="date" name = "date" class = "form-control" ngModel>
                            <label for="date">Choose the date </label>
                            
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Confirm Package" class = "btn btn-warning">
                            <input type="button" value="Cancle" (click)="canclePackage()" class = "btn btn-danger mx-3">
                        </div>
                    </form>

                    <div class="rates">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> Basic Price : <strong>{{25000  | currency:'INR'}}</strong> </li>
                            <li class="list-group-item">Food Cost : <strong>
                                    <ng-container *ngIf="foodPrice==0;else foodrate">N/A</ng-container>
                                    <ng-template #foodrate>{{foodPrice | currency:'INR'}}</ng-template>
                                </strong>
                            </li>

                            <li class="list-group-item">Explore nearby area charge : <strong>
                                    <ng-container *ngIf="explorePrice==0;else explorerate">N/A</ng-container>
                                    <ng-template #explorerate>{{explorePrice | currency:'INR'}}</ng-template>
                                </strong>
                            </li>

                            <li class="list-group-item">GST (24%): <strong>
                                   {{totalPrice*.24 | currency:'INR'}}
                                </strong>

                            </li>

                            <li class="list-group-item">Other Charges (3%): <strong>
                                    {{totalPrice*.03 | currency:'INR'}}
                                </strong>
                            </li>
                            <hr>
                            <li class="list-group-item bg-danger text-light">Total Price : <strong>
                                    {{maleCount+femaleCount}} x {{totalPrice*1.27 | currency:'INR'}} =
                                    {{(maleCount+femaleCount)*totalPrice*1.27 | currency:'INR'}}
                                </strong>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
        <div class="map">

            <div class="forcasts">
                <ng-container  *ngFor="let forcast of weatherInfo?.forecasts; let ind='index'">
                    <weatherCard [object]="forcast" [index]="ind"></weatherCard>

                </ng-container>
            </div>



            <iframe [src]="map_url" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div>

    <div class="text-danger p-4 m-3" *ngIf="!bookings[0] && !object">
        <img src="../../../assets/img/emptycart.jpg" class="rounded mx-auto d-block" alt="...">
        <h2 class="text-center" style = "font-family: cursive;">Your cart is Empty</h2>
    </div>


    <div class="bookings" *ngIf="bookings[0]">

        <h2 class="text-center p-3 text-danger">Your <ng-container *ngIf="id">Other</ng-container> Plans</h2>

        <ng-container *ngFor="let booking of bookings; let i = index">
            <hr>

            <div class="row1 p-2 border rounded m-3">
                <img src="../../../assets/img/attractions/{{booking.package.image_url}}" alt="">
                <div class = 'first'>
                    <h3 class="px-3">{{booking.package.name}}</h3>
                    <p><span class="text-muted px-4">COUNTRY : </span> {{booking.package.country}} </p>

                    <button class = "btn btn-success m-3">Pay Now</button>
                    <button class = "btn btn-danger m-3" (click) = "removePackage(i)">Remove Package</button>
                </div>

                <div class="second">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> Basic Price : <strong> {{25000 | currency:"INR"}} </strong> </li>
                        <li class="list-group-item">Food Cost : <strong>{{booking.price.food | currency:"INR"}}
                            </strong>
                        </li>

                        <li class="list-group-item">Explore nearby area charge : <strong>{{booking.price.other | currency:"INR"}}</strong>
                        </li>

                        <li class="list-group-item">GST ({{.24 | percent}}): <strong>
                                {{booking.price.gst | currency:'INR'}}
                            </strong>

                        </li>

                        <li class="list-group-item">Other Charges ({{.03 | percent}}): <strong>
                                ₹{{booking.price.othertax | currency:"INR"}}
                            </strong>
                        </li>
                        <hr>
                       </ul>

                </div>

                <div class="third">
                    <ul  class="list-group list-group-flush">
                        <li class="list-group-item ">Male : <strong>{{booking.maleCount}}</strong></li>
                        <li class="list-group-item ">Female : <strong>{{booking.femaleCount}}</strong></li>
                        <li class="list-group-item bg-danger text-light">Date : <strong>{{booking.date | date:'MMM Y , d'}}</strong></li>
                        <li class="list-group-item bg-danger text-light">Total Price : <strong>{{booking.pricetotal | currency:"INR"}}</strong></li>
                    
                    </ul>
                </div>
            </div>

        </ng-container>


    </div>

</section>